body {
	background-color: var(--bg-0);
	font-family: "Overused Grotesk", sans-serif;
	color: var(--text-0);
	border-color: var(--border-0) !important;
}

i {
	color: var(--icon-0);
}

.font-calendas {
	font-family: "Calendas Plus", sans-serif;
}

.text-muted {
	color: var(--text-1);
}

.disable-drag {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

@font-face {
	font-family: "Overused Grotesk";
	src: url("fonts/overused-grotesk-vf.woff2");
}

@font-face {
	font-family: "Calendas Plus";
	src: url("fonts/calendas-plus.woff2");
}