:root {
	--icon-0: oklch(48.17% 0.2054 261.34); /* default icon color. */

	--bg-0: 0 0% 100%; /* main background color. */
	--bg-1: rgb(231, 229, 228); /* hovered background color. */

	--text-0: rgb(12, 10, 9); /* default text color. */
	--text-1: oklch(44.37% 0.0237 260.13); /* muted text color. */

	--border-0: oklch(48.17% 0.2054 261.34); /* default border color. */
}