:root {
	--icon-0: oklch(0% 0 0 / 85%); /* default icon color. */

	--bg-0: oklch(92.32% 0.0026 48.72); /* main background color. */
	--bg-1: oklch(100% 0 0); /* panel background color */

	--text-0: oklch(0% 0 0 / 85%); /* default text color. */

	--border-0: oklch(80% 0 0); /* default border color. */
}